<a href="https://colab.research.google.com/github/carolaine67892/ENGD02/blob/main/Ci%C3%AAncias_de_dados_aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 01 - Introdução ao google colab e manipulação de dados. 

Prática - William

In [28]:
#Importação das bibliotecas 

import pandas as pd

In [29]:
nomes = pd.DataFrame({'Nome' : ["carol", "alicia"],
                      'Idade': [14, 23],
                      'Curso': ["medicina", "farmacia" ]})

nomes.head()

     Nome  Idade     Curso
0   carol     14  medicina
1  alicia     23  farmacia

In [30]:
nomes1 = pd.DataFrame({'Nome' : ["larissa", "lara"],
                      'Idade': [14, 23],
                      'Curso': ["medicina", "farmacia" ]})

nomes1.head()

      Nome  Idade     Curso
0  larissa     14  medicina
1     lara     23  farmacia

In [31]:
teste = pd.concat([nomes, nomes1],ignore_index=True)
teste
#função do pandas - concat - junção do dataframe
#variaveis não tem aspas

      Nome  Idade     Curso
0    carol     14  medicina
1   alicia     23  farmacia
2  larissa     14  medicina
3     lara     23  farmacia

Importação do dataset

In [32]:
## Link da planilha do dataset
link = '/content/drive/MyDrive/Ciências de dados- aula01/2019volleyball.xlsx'
#--------------------------------------------------------------------------------------------------------------------------------------------------------
# Carregando o dataset
dt = pd.read_excel(link)
#--------------------------------------------------------------------------------------------------------------------------------------------------------
# Mostrando o cabeçalho do dataset
dt.head()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.0
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.0

In [33]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                30 non-null     object
 1   Ranking Geral       30 non-null     int64
 2   Ranking em 2020     30 non-null     int64
 3   Nacionalidade       30 non-null     object
 4   Posição             30 non-null     object
 5   Data de Nascimento  30 non-null     object
 6   Altura (cm)         30 non-null     int64
 7   Peso (kg)           30 non-null     int64
 8   Salto (cm)          30 non-null     int64
 9   Bloqueio (cm)       30 non-null     int64
 10  Mão Dominante       27 non-null     object
 11  Pontos do país      23 non-null     float64
 12  Pontos              30 non-null     float64
dtypes: float64(2), int64(6), object(5)
memory usage: 3.2+ KB

In [34]:
dt.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        7
Pontos                0
dtype: int64

In [35]:
dt['Pontos do país'] = dt['Pontos do país'].fillna("0")
dt

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
5,Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.00
7,Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.20
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
10,Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
13,LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.00
16,Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
17,Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.00
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.00
23,Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.30
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.00

In [36]:
dt.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        0
Pontos                0
dtype: int64

In [37]:
dt.tail()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.0
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.0
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.3
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.0

In [38]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                30 non-null     object
 1   Ranking Geral       30 non-null     int64
 2   Ranking em 2020     30 non-null     int64
 3   Nacionalidade       30 non-null     object
 4   Posição             30 non-null     object
 5   Data de Nascimento  30 non-null     object
 6   Altura (cm)         30 non-null     int64
 7   Peso (kg)           30 non-null     int64
 8   Salto (cm)          30 non-null     int64
 9   Bloqueio (cm)       30 non-null     int64
 10  Mão Dominante       27 non-null     object
 11  Pontos do país      30 non-null     object
 12  Pontos              30 non-null     float64
dtypes: float64(1), int64(6), object(6)
memory usage: 3.2+ KB

In [39]:
dt.shape
#permite observar a quantidade de linhas e colunas

(30, 13)

In [40]:
dt.Nacionalidade

0                  China
1                 Brazil
2                 Brazil
3                 Serbia
4                  Italy
5     Dominican Republic
6                    USA
7                  Japan
8                    USA
9     Dominican Republic
10                Turkey
11                 China
12                  Cuba
13                Brazil
14                Brazil
15                   USA
16    Dominican Republic
17                Brazil
18                   USA
19                Russia
20                Brazil
21                Brazil
22       Russia, Ukraine
23                Serbia
24                Turkey
25                Turkey
26                Mexico
27                   USA
28                 China
29                   USA
Name: Nacionalidade, dtype: object

In [41]:
dt['Peso (kg)']

0     78
1     68
2     65
3     84
4     70
5     68
6     75
7     65
8     77
9     83
10    55
11    78
12    76
13    60
14    81
15    75
16    68
17    62
18    83
19    78
20    78
21    73
22    75
23    68
24    72
25    74
26    58
27    68
28    75
29    74
Name: Peso (kg), dtype: int64

In [42]:
dt[['Nacionalidade', 'Peso (kg)', 'Salto (cm)']]

         Nacionalidade  Peso (kg)  Salto (cm)
0                China         78         327
1               Brazil         68         292
2               Brazil         65         305
3               Serbia         84         329
4                Italy         70         336
5   Dominican Republic         68         315
6                  USA         75         306
7                Japan         65         300
8                  USA         77         316
9   Dominican Republic         83         330
10              Turkey         55         250
11               China         78         312
12                Cuba         76         320
13              Brazil         60         268
14              Brazil         81         310
15                 USA         75         315
16  Dominican Republic         68         305
17              Brazil         62         293
18                 USA         83         306
19              Russia         78         315
20              Brazil         78         315
21              Brazil         73         316
22     Russia, Ukraine         75         321
23              Serbia         68         300
24              Turkey         72         307
25              Turkey         74         315
26              Mexico         58         302
27                 USA         68         289
28               China         75         312
29                 USA         74         302

Alterando o indice

In [43]:
dados1 = dt.set_index('Nome', drop = True)
dados1

,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
Nome,,,,,,,,,,,,
Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.00
Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.20
Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.00
Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.00
Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.00
Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,0,358.30
Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.00

In [44]:
dt.head()

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.0
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.0

In [45]:
dt["Peso (kg)"]>70

0      True
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8      True
9      True
10    False
11     True
12     True
13    False
14     True
15     True
16    False
17    False
18     True
19     True
20     True
21     True
22     True
23    False
24     True
25     True
26    False
27    False
28     True
29     True
Name: Peso (kg), dtype: bool

In [46]:
dt.loc[dt['Peso (kg)']>70]['Nome']

0                  Ting Zhu
3         Tijana BoÅ¡koviÄ
6           Kelsey Robinson
8              Andrea Drews
9        Brayelin MartÃ­nez
11              Yingying Li
12           Melissa Vargas
14               Mara LeÃ£o
15              Karsta Lowe
18             TeTori Dixon
19           Irina Koroleva
20          Caroline Gattaz
21       Ana Carolina Silva
22      Nataliya Goncharova
24           Ebrar Karakurt
25        Eda Erdem DÃ¼ndar
28            Yuanyuan Wang
29    Jordan Larson-Burbach
Name: Nome, dtype: object

Médias de coluna

In [47]:
dt.describe()

,Ranking Geral,Ranking em 2020,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Pontos
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,351.166667,266.300000,187.833333,72.133333,307.633333,296.366667,492.541667
std,390.695497,497.398415,8.436715,7.445125,17.440506,16.283021,181.231626
min,3.000000,0.000000,168.000000,55.000000,250.000000,245.000000,345.000000
25%,52.500000,4.500000,183.500000,68.000000,302.000000,289.250000,373.375000
50%,183.500000,21.000000,190.000000,74.000000,311.000000,300.000000,421.250000
75%,549.250000,251.500000,194.000000,77.750000,315.750000,308.000000,549.987500
max,1601.000000,1837.000000,201.000000,84.000000,336.000000,320.000000,1190.000000

In [48]:
dt['Peso (kg)'].mean()

72.13333333333334

In [49]:
dt.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Ranking Geral      351.166667
Ranking em 2020    266.300000
Altura (cm)        187.833333
Peso (kg)           72.133333
Salto (cm)         307.633333
Bloqueio (cm)      296.366667
Pontos             492.541667
dtype: float64

In [50]:
dt['Mão Dominante'].value_counts()

Right    24
Left      3
Name: Mão Dominante, dtype: int64

In [51]:
dt['Mão Dominante'].unique()

array(['Right', nan, 'Left'], dtype=object)

In [52]:
dt['Peso (kg)'].unique()

array([78, 68, 65, 84, 70, 75, 77, 83, 55, 76, 60, 81, 62, 73, 72, 74, 58])

In [53]:
dt['Salto (cm)'].unique()

array([327, 292, 305, 329, 336, 315, 306, 300, 316, 330, 250, 312, 320,
       268, 310, 293, 321, 307, 302, 289])

In [54]:
dt['Ranking em 2020'].unique()

array([  23,   19,   13,    3,    2,   25,    0, 1668,   14,    4,   75,
        357, 1081,  257,   10,    6,  235,  273,   24, 1837,  219,  650])

Clonagem do GitHub